@model  SubItem

<h1>adding subItem</h1>

<div class="container">
    <form method="post" asp-action="ConfirmAdd" asp-controller="SubItems"
          asp-route-id="@Url.ActionContext.RouteData.Values["id"]" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <label>
                    @Html.DisplayNameFor(x => x.Name)
                </label>
                <input type="text" asp-for="@Model.Name" class="form-control" />
            </div>

            <div class="col-6">
                <label>
                    @Html.DisplayNameFor(x => x.ImageUrl)
                </label>
                <input type="file" asp-for="formFile" />
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-success" value="save" />
            </div>
        </div>
    </form>
</div>
