@model SubItem

<p>
    ARE YOU SURE YOU WANT TO DELETE @Model.Name SUBITEM ?
</p>
<p>
  
    <form method="post" class="d-inline" asp-action="ConfirmDelete" asp-controller="SubItems" asp-route-id="@Model.Id" asp-route-ItemId="@Model.ItemId">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</p>
