@model Category

<h1>ADD Category To Categories List</h1>
<div class="container">
    <form asp-action="ConfirmAdd" asp-controller="Categories" enctype="multipart/form-data">
        <div class="row">
            <div class="col-6">
                <label>
                    @Html.DisplayNameFor(x => x.Name)
                </label>
                <input type="text" asp-for="Name" class="form-control" />
            </div>
            <div class="col-6">
                <input type="submit" class="btn btn-success" value="save" />

            </div>

        </div>
    </form>
</div>
