@model CategoryStore

@{
    int.TryParse(Url.ActionContext.RouteData.Values["id"].ToString(), out int CategoryId);
}
<p>
    ARE YOU SURE YOU WANT TO DELETE this category from your current store ?
</p>
<p>
    <form method="post" class="d-inline" asp-action="ConfirmDeleteCategFromStore"
          asp-controller="Categories"
          asp-route-id="@CategoryId"
          asp-route-StoreId="@Context.Request.Query["StoreId"]">
        <input type="submit" value="Delete" class="btn btn-danger" />
    </form>
</p>
